<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Management</title>
  <style>
    body,
    form {
      padding: 10px;
    }

    input {
      margin-bottom: 20px;
    }

    #contentContainer {
      border: 1px solid black;
    }

    .formlabel {
      display: block;
      position: relative;
    }
  </style>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.935.0.min.js"></script>
</head>

<body>
  <h2>File list:</h2>
  <button type="button" onclick="refreshList()">Refresh</button>
  {{{body}}}
  <script>
    var bucketName = 'psior-task';
    var bucketRegion = 'us-east-1';
    var IdentityPoolId = 'us-east-1:6c6f1002-75c9-40bf-a330-55c88294c9f9';

    AWS.config.update({
      region: bucketRegion,
      credentials: new AWS.CognitoIdentityCredentials({
        IdentityPoolId: IdentityPoolId
      })
    });

    var s3 = new AWS.S3({
      apiVersion: "2006-03-01",
      params: { Bucket: bucketName }
    });

    const refreshList = async () => {
      try {
        const response = await fetch('/', { method: 'GET' });

        if (!response.ok) {
          const message = `An error has occured: ${response.status}`;
          throw new Error(message);
        }
      } catch (error) {
        console.log(`Error ${error}`)
      }
    }

    const showContent = async (fileName) => {
      const data = { fileName: fileName }

      try {
        const response = await fetch('/content', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });

        if (!response.ok) {
          const message = `An error has occured: ${response.status}`;
          throw new Error(message);
        }

        result = await response.json();

        document.getElementById('contentContainer').innerText = result.content;
      } catch (error) {
        console.log(`Error: ${error}`);
      }
    }

    const sendFilesToQueue = async (event) => {
      event.preventDefault();
      
      const selectedInputs = Array.from(
        document.querySelectorAll("input[type=checkbox]:checked")
      ).map(e => e.value);

      if (selectedInputs.length === 0) {
        return false;
      }

      try {
        const response = await fetch('/files', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ selectedInputs: selectedInputs })
        });

        if (!response.ok) {
          const message = `An error has occured: ${response.status}`;
          throw new Error(message);
        }

        result = await response.json();

        document.getElementById('resultContainer').innerText = `Correctly send messages: ${result.numOfMessagesSent}`
      } catch (error) {
        console.log(`Error: ${error}`);
      } finally {
        return false;
      }
    }

    const sendFileToS3 = async (event) => {
      event.preventDefault();

      let fileInput = document.getElementById("fileInput");
      let file = fileInput.files[0];
      let fileName = file.name;
      
      let bucketKey = 'not-edited/';
      let fileKey =  bucketKey + fileName;

      let upload = new AWS.S3.ManagedUpload({
        params: {
          Bucket: bucketName,
          Key: fileKey,
          Body: file,
        }
      });

      try {
        const data = await upload.promise();
        alert('Successsfully uploaded file.');
      } catch (error) {
        alert(`Failed to upload a file to S3: ${error.message}`)
      }
    }
  </script>
</body>

</html>