<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Management</title>
  <style>
    body, form {
      padding: 10px;
    }

    input {
      margin-bottom: 20px;
    }

    #contentContainer {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h2>File list:</h2>
  <button type="button" onclick="refreshList()">Refresh</button>
  {{{body}}}
  <script>
    const refreshList = async () => {
      try {
        const response = await fetch('/', { method: 'GET' });

        if (!response.ok) {
          const message = `An error has occured: ${response.status}`;
          throw new Error(message);
        }
      } catch (error) {
        console.log(`Error ${error}`)
      }
    }

    const showContent = async (fileName) => {
      const data = { fileName: fileName }

      try {
        const response = await fetch('/content', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });

        if (!response.ok) {
          const message = `An error has occured: ${response.status}`;
          throw new Error(message);
        }

        result = await response.json();

        document.getElementById('contentContainer').innerText = result.content;
      } catch (error) {
        console.log(`Error: ${error}`);
      }
    }
  </script>
</body>

</html>